#primary-navigation{
  li{
    font-size: 14px;
    color: white;
    background-color: lightblue;
    padding: 4px;
    margin: 0 15px;
    display: inline;
    list-style: none;
  }
  .pull-right {
      float: right;
  }
}